<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <link rel="stylesheet" href="CSS/default.css" type="text/CSS">
</head>
<body>
  <!-- <%- include("./partials/navbar") %> -->

  <div class="root container-fluid bg-light d-flex justify-content-center align-items-center">
  <%- body %>
  </div> -->
</body>
</html>